@page "/"

<h1>Local Retail!</h1>

<EditForm Model="@st" OnValidSubmit="@HandleValidSubmit">
    <InputText id="name" @bind-Value="st.Name" />
    <button type="submit">Submit</button>
    <p>Current count: @st.Name</p>
</EditForm>

@code {
    private Student st = new Student();

    private void HandleValidSubmit()
    {

    }
}